* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.home-product-place .place-big, .home-product-place .place-item {
    position: relative;
}
.place-big {
    float: left;
    width: 560px;
    max-height: 370px;
    overflow: hidden;
    margin-right: 10px;
}
.place-small {
    float: right;
    width: 550px;
    overflow: hidden;
}
.home-product-place .place-big, .home-product-place .place-item {
    position: relative;
}
.place-item {
    width: 270px;
    margin-right: 10px;
    margin-bottom: 12px;
    float: left;
    max-height: 178px;
}
.place-small .place-img {
    width: 270px;
}
.home-product-place .place-img {
    position: relative;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.home-product-place .place-info {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}
.home-product-place .place-big, .home-product-place .place-item {
    position: relative;
}
.nomargin {
    margin-bottom: 0;
}
.place-item {
    width: 270px;
    margin-right: 10px;
    margin-bottom: 12px;
    float: left;
    max-height: 178px;
}
.clear {
    clear: both;
}
.clear {
    clear: both;
    height: 0;
}
.clear {
    clear: both;
    height: 0;
}
.clear {
    clear: both;
}
.clear {
    clear: both;
}
.clear {
    clear: both;
    height: 0;
}
